<!DOCTYPE html>

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<title>系统内公司可视化</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	
	<body class="bg05">
		<header class="header">
			<h3>3D图表展示</h3>
		</header>
		
		<div class="wrapper">
			<div class="container-fluid">
				<div class="row fill-h">
					<div class="col-lg-7 fill-h">
						<div class="xpanel-wrapper xpanel-wrapper-1">
							<div class="xpanel no-bg">
								<div class="fill-h" id="bar3D"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 fill-h">
						<div class="xpanel-wrapper xpanel-wrapper-2-3">
							<div class="xpanel">
								<div class="fill-h" id="globe3D"></div>
							</div>
						</div>
						<div class="xpanel-wrapper xpanel-wrapper-1-3">
							<div class="xpanel">
								<div class="fill-h" id="bar2D"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/echarts.js"></script>
		<script type="text/javascript" src="js/echarts-gl.min.js"></script>
		<script type="text/javascript">
			$(function() {
				/******************* 3D柱形图 ******************/
				//初始化echarts实例
				const bar3D = echarts.init(document.getElementById("bar3D"));
				//数据
				const hours = ['大同市', '晋城市', '晋中市', '临汾市', '吕梁市', '山西省', '朔州市',
								'太原市', '忻州市', '阳泉市','运城市','长治市', '综改区'];
				const days = ['财政', '发改委', '工信', '科技', '人社', '商务','其他', '政府'];
				const data = [ //[hour, day, val]
					[0,0,0], [0,1,2], [0,2,1], [0,3,0], [0,4,0], [0,5,4],[0,6,0], [0,7,0], [0,8,0], [0,9,0], [0,10,0], [0,11,0], [0,12,1],
					[1,0,9], [1,1,1], [1,2,3], [1,3,0], [1,4,3], [1,5,68], [1,6,0] ,[1,7,3], [1,8,0], [1,9,6], [1,10,3], [1,11,2], [1,12,2],
					[2,0,6], [2,1,0], [2,2,14], [2,3,0], [2,4,0], [2,5,91], [2,6,0], [2,7,43],[2,8,0], [2,9,3], [2,10,2], [2,11,3], [2,12,9],
					[3,0,13],[3,1,15],[3,2,21],[3,3,38],[3,4,2],[3,5,220], [3,6,5],[3,7,64],[3,8,49],[3,9,49],[3,10,0],[3,11,12],[3,12,65],
					[4,0,1],[4,1,6],[4,2,8],[4,3,4],[4,4,0],[4,5,94],[4,6,0], [4,7,156],[4,8,8],[4,9,22],[4,10,3],[4,11,24],[4,12,20],
					[5,0,4],[5,1,24],[5,2,6],[5,3,0],[5,4,3],[5,5,56],[5,6,0], [5,7,11],[5,8,0],[5,9,0],[5,10,0],[5,11,3],[5,12,9],
					[6,0,3],[6,1,35],[6,2,25],[6,3,6],[6,4,8],[6,5,209],[6,6,13], [6,7,24],[6,8,13],[6,9,33],[6,10,5],[6,11,27],[6,12,46],
					[7,0,14],[7,1,67],[7,2,22],[7,3,7],[7,4,16],[7,5,191],[7,6,11], [7,7,55],[7,8,14],[7,9,21],[7,10,17],[7,11,18],[7,12,13]

				];
				const barOpt = {
				    tooltip: {
				    	formatter: function(params) {
				    		let series = params.seriesName;
				    		let val = params.value;
				    		return series + '<br/>' + 
				    			days[val[1]] + '<br/>' + 
				    			hours[val[0]] +'<br/>值：' + val[2];
				    	}
				    },
				    visualMap: {
				        max: 209,
				        min: 0,
				        calculable: true,
				        inRange: {
				            color: ['#50a3ba', '#eac736', '#d94e5d']
				        },
				        textStyle: {
				            color: '#fff'
				        }
				    },
				    grid3D: {
				    	boxWidth: 250,
				    	boxDepth: 80,
				        viewControl: {
				        	distance: 220, //视觉距离
				            autoRotate: false //自动旋转
				        },
				        light: { //光照配置
				            main: {
				                intensity: 1.2,
				                shadow: true
				            },
				            ambient: {
				                intensity: 0.3
				            }
				        },
				        axisLabel: {
				        	textStyle: {
				        		color: '#fff'
				        	}
				        },
				        axisLine: {
				        	lineStyle: {
				        		color: '#fff',
				        		width: 1
				        	}
				       	},
				       	axisPointer: {
				       		show: false
				       	}
				    },
				    xAxis3D: {
				        type: 'category',
				       	name: '',
				        data: hours
				    },
				    yAxis3D: {
				        type: 'category',
				        name: '',
				        data: days
				    },
				    zAxis3D: {
				        type: 'value',
						name: ''				        
				    },
				    series: [{
				        type: 'bar3D',
				        name: 'Bar3D',
				        data: data.map(function (item) {
				            return {
				                value: [item[1], item[0], item[2]]
				            }
				        }),
				        shading: 'lambert',
				        emphasis: {
				            label: {
				                textStyle: {
				                    fontSize: 16,
				                    color: '#900'
				                }
				            },
				            itemStyle: {
				                color: '#900'
				            }
				        }
				    }]
				};
				//渲染图表
				bar3D.setOption(barOpt);
				
				/****************** 3D地球 ********************/
				//初始化echart实例
				const globe3D = echarts.init(document.getElementById("globe3D"));
				//配置项
				const globeOpt = {
				    globe: {
				    	environment: 'img/bg09.jpg', //环境贴图
				        baseTexture: "img/globe.jpg", //地球的纹理
				        heightTexture: "img/globe.jpg", //地图的高度纹理
				        displacementScale: 0, //地球顶点位移的大小
				        shading: 'realistic', //着色效果，真实感渲染
				        realisticMaterial: { //真实感渲染配置
				            roughness: 0.8 //材质的粗糙度
				        },
				        postEffect: { //后处理特效配置
				            enable: true
				        },
				        light: { //光照设置
				            main: { //场景主光源设置，在globe设置中就是太阳光
				                intensity: 5, //主光源强度
				                shadow: true //是否投影
				            },
				            ambientCubemap: { //使用纹理作为光源的环境光， 会为物体提供漫反射和高光反射
				                texture: 'img/pisa.hdr', //环境光贴图
				                diffuseIntensity: 0.1 //漫反射强度
				            }
				        }
				    }
				};
				//渲染图表
				globe3D.setOption(globeOpt);
				
				/******************* 二维数据的3D展示 ******************/
				//初始化echarts实例
				const bar2D = echarts.init(document.getElementById("bar2D"));
				const xData = ['2014年', '2015年', '2016年', '2017年', '2018年', '2019年','2020年'];
				const yData = [''];
				const data2 = [[0,0,27],[0,1,99],[0,2,116],[6,3,271],[6,4,271],[6,5,193],[6,6,2901]];
				const barOpt2 = {
					visualMap: {
				        show: true,
				        max: 2901,
				        inRange: {
				            color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
				        },
						textStyle: {
							color: '#fff'
						}
				    },
					grid3D: {
						boxWidth: 400,
						boxDepth: 80,
						viewControl: {
							distance: 220, //视觉距离
							autoRotate: false //自动旋转
						},
						light: { //光照配置
							main: {
								intensity: 1.2,
								shadow: false
							},
							ambient: {
								intensity: 2
							}
						},
						axisLabel: {
							textStyle: {
								color: '#fff'
							}
						},
						axisLine: {
							lineStyle: {
								color: '#fff',
								width: 1
							}
						},
						axisPointer: {
							show: false
						}
					},
					// grid3D: {
					// 	show: false,
					// 	left: 0,
					// 	right: 0,
					// 	top: 0,
					// 	bottom: 0,
				    //     boxWidth: 300,
				    //     boxDepth: 20,
				    //     light: {
				    //         main: {
				    //             intensity: 5,
				    //             shadow: true
				    //         },
				    //         ambient: {
				    //             intensity: 1
				    //         }
				    //     },
				    //     viewControl:{
				    //         alpha: 0,
				    //         beta: 0
				    //     }
				    // },
				    xAxis3D: {
				    	type: 'category',
				        name: '',
				        data: xData
				    },
				    yAxis3D: {
				    	type: 'category',
				        name: '',
				        data: yData
				    },
				    zAxis3D: {
				    	type: 'value',
				        name: ''
				    },
				    series: [{
				        type: 'bar3D',
				        data: data2.map(function (item) {
				            return {
				                value: [item[1], item[0], item[2]],
				            }
				        }),
				        shading: 'lambert',
				        label: {
				            textStyle: {
				                fontSize: 16,
				                borderWidth: 1
				            }
				        },
				        emphasis: {
				            label: {
				                textStyle: {
				                    fontSize: 20,
				                }
				            }
				        }
				    }]
				}
				//渲染图表
				bar2D.setOption(barOpt2);
				
				/********** 浏览器窗口改变时，重置报表大小 ****************/
				window.onresize = function() {
					bar3D.resize();
					globe3D.resize();
					bar2D.resize();
				}
			});
		</script>
	</body>
</html>