{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/my-login.css' %}">
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{% static 'img/logo.jpg' %}">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">注册</h4>
								<div class="form-group">
									<label for="email">邮箱地址</label>
									<input id="email" type="email" class="form-control" name="email">
								</div>
								<div class="form-group">
									<label for="password">密码</label>
									<input id="password" type="password" class="form-control" name="password">
								</div>
                                <div class="form-group">
									<label for="password">确认密码</label>
									<input id="password2" type="password" class="form-control" name="password">
								</div>
								<div class="form-group no-margin">
									<button onclick="register()" type="submit" class="btn btn-primary btn-block">
										注册
									</button>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/my-login.js' %}"></script>
<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>
    function register(){
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var password2 = document.getElementById('password2').value;
        if(password!=password2){
            alert("前后两次密码输入不一致");
            document.getElementById('password').value = '';
            document.getElementById('password2').value = '';
        }
        else{
            $.ajax({
                 type:'GET',
                 url: 'registers',
                  data:{
                     username:email,
                     password:password
                 },
                 datatype:'json',
                 success:function (data){
                    {#alert(data[2]);#}
                    if(data[2]==0){
                        alert("该账号已经注册，请登录")
                        let url = "sign";
                        window.location.href=url;
                    }
                    else{
                        alert("注册成功，请登录")
                        let url = "sign";
                        window.location.href=url;
                    }

                },
                error:function (data){
                    alert("服务器错误");
              }
            })
        }
    }
</script>
</body>
</html>